<!-- views/players.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

    <main>
        <h2>Players</h2>
        <ul class="player-list">
            <% playerList.forEach(player=> { %>
                <li class="player-item">
                    <%= console.log('Player:', player) %>
                        <%= console.log('Player.user:', player.user) %>
                            <span>Name:</span>
                            <%= player.playerName %> -
                                <span>Position:</span>
                                <%= player.position %> (Team:
                                    <span>Team:</span>
                                    <%= player.team %>) 
                                            <form action="/players/delete/<%= player._id %>" method="post">
                                                <button type="submit">Remove</button>
                                            </form>
                </li>
                <% }); %>
        </ul>
        <a href="/teams/dashboard" class="dashboard-button">Back to Dashboard</a>
        <a href="/players/add" class="Add-Player-button">Add more Players</a>
        <
    </main>
</body>

</html>