<%- include("./partials/header.ejs")    %>
<link rel="stylesheet" href="/stylesheets/style.css">
<main>
    <h2>Teams</h2>
    <ul class="team-list">
      <% teamList.forEach(team => { %>
        <li class="team-item">
          <%= team.teamName %> - <%= team.country %> (Coach: <%= team.coach %>)
        </li>
      <% }); %>
    </ul>
    <a href="/teams/dashboard" class="dashboard-button">Back to Dashboard</a>
  </main>

<%- include("./partials/footer")    %>
