<%- include("./partials/header.ejs")    %>
<link rel="stylesheet" href="/stylesheets/style.css">
<main>
  
    <div class="team-container">
      <% teamList.forEach(team => { %>
        <div class="team-info">
         <strong>Team: </strong>  <%= team.teamName %> <strong>Country: </strong>  <%= team.country %> (Coach: <%= team.coach %>)
      <form action="/teams/delete/<%= team._id %>" method="post">
        <button class="remove-button" type="submit">Remove</button>
      </form>
    </div>
  <% }); %>

  <a href="/teams/dashboard" class="dashboard-button">Back to Dashboard</a>
  <a href="/teams/add" class="Add-Team-button">Add more Teams</a>
</main>

<%- include("./partials/footer") %>